.container {
    box-sizing: border-box;
    height: 820px;
    margin: 24px 233px;
    padding: 25px 110px;
    max-width: 900px;
    background-color: #fafafa;
    border-radius: 10px;
    position: relative;
}

p {
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    opacity: 0.5;
}
.plus {
    margin-top: 8px;
    width: 44px;
    height: 44px;
    border: 1.5px solid #5558fa;
    border-radius: 4px;
}
