.container {
    box-sizing: border-box;
    min-height: 820px;
    margin: 24px 233px;
    padding: 25px 110px;
    max-width: 900px;
    background-color: #fafafa;
    border-radius: 10px;
    position: relative;
}

p {
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    opacity: 0.5;
}
