* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #d6d6d6;
    font-family: "SB Sans Interface";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
h1 {
    font-family: "SB Sans Interface";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}
.container {
    margin: 24px 233px;
    padding: 25px 24px;
    max-width: 900px;
    background-color: #fafafa;
    border-radius: 10px;
    position: relative;
    /* height: 700px; */
}
form {
    max-width: 400px;
    display: flex;
    flex-flow: column;
    /* position: relative; */
}
form span {
    margin-top: 24px;
    display: inline-block;
}
form .btn {
    margin-top: 48px;
}
.btn {
    display: inline-block;
    color: #ffffff;
    min-width: 79px;
    height: 44px;
    padding: 12px;
    background: #5558fa;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
#button-back {
    background: #ffffff;
    color: #5558fa;
    border: solid 2px #5558fa;
    position: absolute;
    left: 80px;
    bottom: 80px;
}
#button-next {
    position: absolute;
    right: 80px;
    bottom: 80px;
}
#button-start {
    max-width: 80px;
}
[disabled] {
    opacity: 0.7;
}
form input[type="text"], input[type="number"], 
select {
    margin-top: 8px;
    height: 44px;
    width: 300px;
    display: block;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 12px;
}
.input {
    margin-top: 8px;
    height: 44px;
    display: block;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 12px; 
}