.container {
    box-sizing: border-box;
    height: 820px;
    margin: 24px 233px;
    padding: 25px 24px;
    max-width: 900px;
    background-color: #fafafa;
    border-radius: 10px;
    position: relative;
}
.metric {
    display: block;
    background-color: #d5d5d5;
    border-radius: 8px;
    width: 100%;
    height: 10px;
    position: relative;
}
.metric div {
    display: block;
    background-color: #5558fa;
    border-radius: 8px;
    width: 25%;
    height: 10px;
}
.metric span {
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 10px;
    background-color: #858585;
    position: absolute;
    top: -3px;
}

.metric span:nth-child(2) {
    position: absolute;
    top: -3px;
    left: 0;
}
.metric span:nth-child(3) {
    left: 50%;
    transform: translateX(-50%);
}
.metric span:nth-child(4) {
    right: 0%;
}
p {
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    opacity: 0.5;
}
