.profile {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 0px;
    padding-bottom: 25px;
}
.profile_wrap {
    display: flex;
}
.ProfileData {
    margin: 13px 20px 0px 20px;
}
.social {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}
.social a {
    font-family: "SB Sans Interface";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-left: 25px;
    /* text-align: center; */
    vertical-align: middle;
    text-decoration: none;
    position: relative;
}
.social a::before {
    content: "";
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    left: -18px;
    top: -2px;
    background-image: url(./Folder.svg);
}
